/* azret mono font family */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --azeretMono: "Azeret Mono";
  --defMargin: 100px;
}
/* reset the default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  padding: 35px 100px;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}
nav > button {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  padding: 15px 22px 15px 22px;
  cursor: pointer;
  transition: 500ms;
  color: rgb(13, 19, 33);
  font-family: var(--azeretMono), "Azeret Mono";
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
nav > button:hover {
  border: 1px solid rgb(1, 144, 5);
  background-color: rgba(8, 230, 82, 0.652);
  color: rgb(0, 0, 0);
}
nav > h1 {
  color: rgb(13, 19, 33);
  font-family: var(--azeretMono), "Azeret Mono";
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
/* styles for hero section */
.hero {
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 74px;
  padding: 40px;
}
.hero-container {
  width: 80%;
}
.hero img {
  height: 240px;
  width: 240px;
}
.hero h1 {
  color: rgb(13, 19, 33);
  font-family: var(--azeretMono), "Azeret Mono";
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin: 30px 0 15px 0;
}
.hero p {
  color: rgb(13, 19, 33);
  font-family: var(--azeretMono), "Azeret Mono";
  font-size: 20px;
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 30px;
}
.hero button {
  border-radius: 8px;
  padding: 20px 22px 20px 22px;
  background: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  font-family: var(--azeretMono), "Azeret Mono";
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
  border: none;
}
/* 2nd section (why web dev??) */
.web-dev {
  max-width: 1140px;
  text-align: center;
  padding: 80px 90px 0 80px;
  background: rgba(13, 19, 33, 0.03);
  border-radius: 16px;
  margin: 0 auto;
}
.web-deb-container {
  border-radius: 16px;
  padding: 20px;
}
.web-dev-title {
  color: rgb(13, 19, 33);
  font-family: var(--azeretMono);
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 24px;
}
.web-dev-subtitle {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 80px;
}
.reason {
  /* box-shadow: 0 0 1px rgb(120, 115, 115); */
  border: 1px solid rgba(13, 19, 33, 0.08);

  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  text-align: left;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.reason-details {
  width: 60%;
}
.reason-details h1 {
  color: rgba(13, 19, 33, 0.7);
  font-family: var(--azeretMono);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
.reason-details p {
  color: rgb(13, 19, 33);
  font-family: var(--azeretMono);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 30px;
}
.reason-details a > button {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: var(--azeretMono);
  font-size: 17px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

.vector img {
  width: 300px;
  height: 100%;
}
.vector2 {
  width: 40%;
}
.vector2 img {
  width: 300px;
  height: 100%;
}
/* 3rd section (my inspiration) */
.inspiration-sec {
  margin: var(--defMargin);
  text-align: center;
}
.inspiration-sec-container {
  max-width: 1140px;
  margin: 0 auto;
}
.inspiration-sec-container h1 {
  color: rgb(13, 19, 33);
  font-family: var(--azeretMono);
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 24px;
}
.inspiration-sec-container p {
  color: rgb(13, 19, 33);
  font-family: var(--azeretMono);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 60px;
}
.yt-vdo {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  padding: 32px;
  width: 100%;
}
.inspiration-sec-container iframe {
  height: 550px;
  width: 100%;
  border-radius: 16px;
}

/* 4th section (My target) */
.target {
  margin: var(--defMargin);
}
.target-t-s {
  margin-bottom: 45px;
}
.target-t-s .title {
  text-align: center;
  color: rgb(13, 19, 33);
  font-family: var(--azeretMono);
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 20px;
}
.target-t-s .subtitle {
  text-align: center;
  color: rgb(13, 19, 33);
  font-family: var(--azeretMono);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}
.target-container {
  max-width: 1140px;
  margin: 0 auto;
}
.target-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: left;
  justify-content: center;
  gap: 10px;
}
.html,
.java {
  border-radius: 16px;
  padding: 40px;
  background: rgba(255, 76, 30, 0.05);
}
.css {
  border-radius: 16px;
  padding: 40px;
  background: rgba(0, 76, 232, 0.05);
}
.item-head {
  color: rgb(13, 19, 33);
  font-family: var(--azeretMono);
  font-size: 22px;
  font-weight: 800;
  margin: 22px 0 8px 0;
}
.item-details {
  text-align: left;
  color: rgb(13, 19, 33);
  font-family: var(--azeretMono);
  font-size: 16px;
  font-weight: 400;
}
.learn-more-btn {
  color: rgb(13, 19, 33);
  font-family: var(--azeretMono);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  display: block;
  margin-top: 20px;
}
/* styles of my next target section */
.next-target {
  margin: var(--defMargin);
  text-align: center;
}
.next-target-container {
  max-width: 1140px;
  margin: 0 auto;
}
.next-target-title {
  color: rgb(13, 19, 33);
  font-family: var(--azeretMono);
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 22px;
}
.next-target-subtitle {
  color: rgb(13, 19, 33);
  font-family: var(--azeretMono);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 48px;
}
.next-target-items {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 30px;
  margin: 24px;
}
.next-target-icons {
  width: 30%;
  height: 100%;
}
.next-target-details h1 {
  color: rgb(13, 19, 33);
  font-family: var(--azeretMono);
  font-size: 22px;
  font-weight: 800;
}
.next-target-details p {
  color: rgb(13, 19, 33);
  font-family: var(--azeretMono);
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
  opacity: 0.7;
}
.next-target-icons img {
  display: block;
  margin: 0 auto;
  height: 110px;
  width: 110px;
}
.next-target-details {
  width: 80%;
}
/* support section */
.support {
  max-width: 1140px;
  margin: 0 auto 80px auto;
  height: 314px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--defMargin);
  color: white;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/handshake.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.support h1 {
  text-align: center;
  font-family: var(--azeretMono);
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}
.support p {
  color: rgb(255, 255, 255);
  font-family: var(--azeretMono);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 22px;
}
.def-font {
  color: rgb(13, 19, 33);
  font-family: var(--azeretMono);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.message-box input {
  width: 548px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 15px 20px 15px 20px;
}
.message-box button {
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 500ms;
}
.message-box button:hover {
  transform: scale(1.07);
}
/* footer */
footer {
  background-color: rgba(13, 19, 33, 0.04);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}
.footer-container {
  max-width: 1140px;
  margin: 0 auto;
}
.footer-text {
  height: 100%;
  width: 70%;
  color: rgb(13, 19, 33);
  font-family: var(--azeretMono);
  font-size: 19px;
  font-weight: 600;
}

.icons {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.icons img {
  height: 40px;
  width: 40px;
  margin-left: 20px;
  transition: 500ms;
}
.icons img:hover {
  transform: scale(1.3);
}
